@use "./xp.scss";

.xp {
  &.board {
    min-width: 100px;
    min-height: 100px;
    background-color: var(--board-bg);
    @include xp.xp-border-rev(3px);
    padding: 6px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    image-rendering: pixelated;

    > .grid {
      @include xp.xp-border(3px);
    }

    > .preload {
      > .b1 {
        background-image: url("./img/bomb.png");
      }
      > .b2 {
        background-image: url("./img/err.png");
      }
      > .b3 {
        background-image: url("./img/flag.png");
      }
      @for $i from 1 through 8 {
        > .c#{$i} {
          background-image: url(./img/#{$i}.png);
        }
      }
      @for $i from 0 through 9 {
        > .n#{$i} {
          background-image: url("./img/number_#{$i}.png");
        }
      }
      > .f1 {
        background-image: url("./img/face_normal.png");
      }
      > .f2 {
        background-image: url("./img/face_click.png");
      }
      > .f3 {
        background-image: url("./img/face_cry.png");
      }
      > .f4 {
        background-image: url("./img/face_sunglasses.png");
      }
    }
  }
}
