@import "./xp.scss";

.xp {
  &.board {
    min-width: 100px;
    min-height: 100px;
    background-color: var(--board-bg);
    @include xp-border-rev(3px);
    padding: 6px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    image-rendering: pixelated;

    > .grid {
      @include xp-border(3px);
    }
  }
}
